@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 2px solid rgba(56, 56, 56, 0.712);
}

/* Add this to your Tailwind CSS file or global styles */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-bounce {
  animation: bounce 1s ease-in-out infinite;
}

.selectedBtn {
  background: #b01616;
}
